{% extends 'base_admin.html' %}
{% load i18n %}

{% load widget_tweaks %}
{% block title %}Удача{% endblock %}
{% block content %}
<div id="wrapper">


	<section id="content">
        <div class="container">
            <div class="text-center">
                <h2>Ваш заказ успешно принят!</h2>
                <img src="/static/img/paperplane.png" alt="" style="width: 400px;height: 300px">
                <h2>Ждите ответ на электронную почту!</h2>
            </div>
        </div>
    </section>
</div>

{% endblock %}