{% extends 'base_admin.html' %}
{% load i18n %}

{% load widget_tweaks %}
{% block title %}Order{% endblock %}
{% block content %}
<div id="wrapper"> 


	<section id="content">
<section id="pricing">
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8 borders" style="padding-top: 40px;padding-bottom: 40px;">
        <form method="POST" class="post-form">

                    {% csrf_token %}

                        <div class="wrap-input100 validate-input col-md-8" data-validate="" >
                                 <p><strong>Пункт отправления</strong></p>
                                     <div class="form-group">
                                    {% render_field form.otkuda|add_class:'form-control'   %}
                                     </div>
                                 <p><strong>Пункт назначения</strong></p>
                                     <div class="form-group">
                                    {% render_field form.kuda|add_class:'form-control '   %}
                                     </div>



{#                            {% if form.hours.errors %}#}
{#                                <p style="color: red">Введите время в формате ЧЧ:ММ</p>#}
{#                            {% endif %}#}
                                <div class="col-md-12">

                                    <div class="form-group col-md-6" >
                                         <p><strong>Дата поездки</strong></p>
                                        {% render_field  form.data|add_class:'form-control' type="date"%}
                                    </div>
                                    <div class="form-group col-md-3">

                                        <p><strong>Часы</strong></p>
                                    {% render_field  form.hours|add_class:'form-control'%}
                                    </div>
                                    <div class="form-group col-md-3">
                                        <p><strong>Минуты</strong></p>
                                    {% render_field  form.minutes|add_class:'form-control'%}
                                    </div>

                                </div>

                                <div class="col-md-12">

                                    <div class="form-group col-md-5">
                                <p><strong>Количество пасажиров</strong></p>

                                    {% render_field form.kolichestvo|add_class:'form-control'%}
                                    </div>


                                <div class="form-group col-md-3">
                                     <p><strong>С них детей </strong></p>
                                    {% render_field form.detey|add_class:'form-control'%}
                                </div>
                                <div class="form-group col-md-4">
                                     <p><strong>Возраст <br> детей</strong></p>
                                    {% render_field form.deteydescr|add_class:'form-control'%}
                                </div>
                                </div>
                                <p><strong class="text-center">Имя Фамилия</strong></p>
                                    {% render_field form.name|add_class:'form-control input-lg'  %}

{#                                <p><strong class="text-center">Фамилия </strong></p>#}
{#                                    {% render_field form.lastname|add_class:'form-control input-lg'  %}#}







                                <p><strong>Контактный телефон</strong></p>
                                {% render_field form.phone|add_class:'form-control input-lg'%}



                                 <p><strong>Адресс электронной почты</strong></p>
                                 {% render_field form.email|add_class:'form-control input-lg'   %}


                                 <p><strong>Дополнительная информация</strong></p>
                                 {% render_field form.description|add_class:'text-area'  %}
                                    <p>Укажите пожалуйста номер вашего рейса , точный адрес отеля, дома, апартаментов, агенства недвижимости или иную информацию</p>



                        <div class="col-md-12 text-center ">
                            <button type="submit" class="btn btn-warning">Заказать</button>
                        </div>
                        </div>
                </form>
            </div>
        <div class="col-md-2"> </div>
            </div>

    </section>
	</section>


<div class="prefooter"></div>
</div>





<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>
{% endblock %}